__pycache__
cifar10
imagenette2
teacher_model
teacher_model_cifar10
teacher_model_imagenette
trained_model
trained_model_imagenette
imagenette_acc_predictor.pth
**/*.pth.tar
graphs_ofa/
graphs_ofa_pred/
subnets_data/
config_infos/
