{
    "name": "OFAMobileNetV3CtV3",
    "bn": {
        "momentum": 0.1,
        "eps": 1e-05,
        "ws_eps": null
    },
    "first_conv": {
        "name": "ConvLayer",
        "kernel_size": 3,
        "stride": 2,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "use_se": false,
        "in_channels": 3,
        "out_channels": 3,
        "use_bn": true,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "blocks": [
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 3,
                "out_channels": 8,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 1,
                "mid_channels": null,
                "act_func": "relu",
                "use_se": false,
                "groups": null
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    8
                ],
                "out_channel_list": [
                    24
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 2,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    24
                ],
                "out_channel_list": [
                    24
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 24,
                "out_channels": 24,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    24
                ],
                "out_channel_list": [
                    24
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 24,
                "out_channels": 24,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    24
                ],
                "out_channel_list": [
                    24
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 24,
                "out_channels": 24,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    24
                ],
                "out_channel_list": [
                    96
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 2,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    96
                ],
                "out_channel_list": [
                    96
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 96,
                "out_channels": 96,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    96
                ],
                "out_channel_list": [
                    96
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 96,
                "out_channels": 96,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    96
                ],
                "out_channel_list": [
                    96
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 96,
                "out_channels": 96,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    96
                ],
                "out_channel_list": [
                    288
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 2,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    288
                ],
                "out_channel_list": [
                    288
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 288,
                "out_channels": 288,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    288
                ],
                "out_channel_list": [
                    288
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 288,
                "out_channels": 288,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    288
                ],
                "out_channel_list": [
                    288
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 288,
                "out_channels": 288,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    288
                ],
                "out_channel_list": [
                    368
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 2,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    368
                ],
                "out_channel_list": [
                    368
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 368,
                "out_channels": 368,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    368
                ],
                "out_channel_list": [
                    368
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 368,
                "out_channels": 368,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    368
                ],
                "out_channel_list": [
                    368
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 368,
                "out_channels": 368,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    368
                ],
                "out_channel_list": [
                    392
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 2,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    392
                ],
                "out_channel_list": [
                    392
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 392,
                "out_channels": 392,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    392
                ],
                "out_channel_list": [
                    392
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 392,
                "out_channels": 392,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "DynamicMBConvLayer",
                "in_channel_list": [
                    392
                ],
                "out_channel_list": [
                    392
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    1,
                    2,
                    3,
                    4
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 392,
                "out_channels": 392,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        }
    ],
    "final_expand_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "use_se": false,
        "in_channels": 392,
        "out_channels": 400,
        "use_bn": true,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "feature_mix_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "use_se": false,
        "in_channels": 400,
        "out_channels": 400,
        "use_bn": false,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "classifier": {
        "name": "LinearLayer",
        "in_features": 400,
        "out_features": 1000,
        "bias": true,
        "use_bn": false,
        "act_func": null,
        "dropout_rate": 0.1,
        "ops_order": "weight_bn_act"
    }
}