{
    "name": "MobileNetV3",
    "bn": {
        "momentum": 0.1,
        "eps": 1e-05,
        "ws_eps": null
    },
    "first_conv": {
        "name": "ConvLayer",
        "kernel_size": 3,
        "stride": 2,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "use_se": false,
        "in_channels": 3,
        "out_channels": 3,
        "use_bn": true,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "blocks": [
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 3,
                "out_channels": 8,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 1,
                "mid_channels": null,
                "act_func": "relu",
                "use_se": false,
                "groups": null
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 8,
                "out_channels": 24,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 4,
                "mid_channels": 32,
                "act_func": "h_swish",
                "use_se": false,
                "groups": null
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 24,
                "out_channels": 24,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 96,
                "act_func": "h_swish",
                "use_se": false,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 24,
                "out_channels": 24,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 24,
                "out_channels": 24,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 96,
                "act_func": "h_swish",
                "use_se": false,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 24,
                "out_channels": 24,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 24,
                "out_channels": 24,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 96,
                "act_func": "h_swish",
                "use_se": false,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 24,
                "out_channels": 24,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 24,
                "out_channels": 88,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 4,
                "mid_channels": 96,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 88,
                "out_channels": 88,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 352,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 88,
                "out_channels": 88,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 88,
                "out_channels": 88,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 352,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 88,
                "out_channels": 88,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 88,
                "out_channels": 88,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 352,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 88,
                "out_channels": 88,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 88,
                "out_channels": 184,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 4,
                "mid_channels": 352,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 184,
                "out_channels": 184,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 736,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 184,
                "out_channels": 184,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 184,
                "out_channels": 184,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 736,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 184,
                "out_channels": 184,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 184,
                "out_channels": 184,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 736,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 184,
                "out_channels": 184,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 184,
                "out_channels": 216,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 4,
                "mid_channels": 736,
                "act_func": "relu",
                "use_se": false,
                "groups": null
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 216,
                "out_channels": 216,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 864,
                "act_func": "relu",
                "use_se": false,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 216,
                "out_channels": 216,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 216,
                "out_channels": 216,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 864,
                "act_func": "relu",
                "use_se": false,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 216,
                "out_channels": 216,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 216,
                "out_channels": 216,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 864,
                "act_func": "relu",
                "use_se": false,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 216,
                "out_channels": 216,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 216,
                "out_channels": 224,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 4,
                "mid_channels": 864,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": null
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 224,
                "out_channels": 224,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 896,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 224,
                "out_channels": 224,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 224,
                "out_channels": 224,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 896,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 224,
                "out_channels": 224,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "ResidualBlock",
            "conv": {
                "name": "MBConvLayer",
                "in_channels": 224,
                "out_channels": 224,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 896,
                "act_func": "h_swish",
                "use_se": true,
                "groups": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 224,
                "out_channels": 224,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        }
    ],
    "final_expand_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "use_se": false,
        "in_channels": 224,
        "out_channels": 224,
        "use_bn": true,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "feature_mix_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "use_se": false,
        "in_channels": 224,
        "out_channels": 224,
        "use_bn": false,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "classifier": {
        "name": "LinearLayer",
        "in_features": 224,
        "out_features": 1000,
        "bias": true,
        "use_bn": false,
        "act_func": null,
        "dropout_rate": 0.1,
        "ops_order": "weight_bn_act"
    }
}